div {
  border: 1px solid black;
}

.nav-bar {
  text-align: center;
  margin: 20px 5%;
  word-spacing: 20vw;
}

.nav-bar span {
  word-spacing: normal;
}

.nav-bar a {
  text-emphasis: wrap;
  border-radius: 10px;
  line-height: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  
}

.nav-bar .a-1 {
  background-color: #FF754E;
  box-shadow: 10px 0 0 #FF754E, -10px 0 0 #FF754E;
}

.nav-bar .a-2 {
  background-color: #5FD3EC;
  box-shadow: 10px 0 0 #5FD3EC, -10px 0 0 #5FD3EC;
}

.nav-bar .a-3 {
  background-color: #FFCD6A;
  box-shadow: 10px 0 0 #FFCD6A, -10px 0 0 #FFCD6A;
}